// globak
body {
  background-color: #E4E6EB;
  font-family: 'Assistant', sans-serif;
  color: #071C4D;
}

// navbar
// logo nomads
.navbar-brand {
  img {
    max-height: 40px;
  }
}

// mobile button 
.btn-login {
  background-color: #071C4D;
  color: #ffffff;

  &:hover {
    background-color: #334C85;
    color: #ffffff;
  }
}

// desktop button
.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;

  height: 70px;
  border-radius: 0;
}

// menu navbar 
.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #071C4D;

      &.active {
        font-weight: bold;
        color: #071C4D !important;
      }
    }
  }
}

// header
header {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url('../images/Group\ 6.jpg');
  background-size: cover;

  h1 {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 50px;
  }

  p {
    color: #fff;
    font-size: 22px;
  }

  .btn-get-started {
    background-color: #DF823A;
    color: #fff;
    font-weight: bold;
    font-size: 20px;

    &:hover {
      background-color: #FF9E53;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

// statistik header
.section-stats {
  margin-top: -50px;
}

.stats-detail {
  padding-top: 20px;
  background-color: #fff;
  padding-left: 60px;
}

h2 {
  margin-bottom: 0;
  font-size: 30px;
}

p {
  font-size: 20px;
  font-weight: lighter;
}

// wisata popular
.section-popular {
  min-height: 540px;
  background-color: #051334;
  margin-top: -52px;
  margin-bottom: -230px;

  .section-popular-heading {
    margin-top: 150px;

    h2 {
      color: #fff;
      font-family: 'Playfair Display', serif;
      font-weight: bold;
      font-size: 40px;
    }

    p {
      color: #fff;
      font-size: 18px;
    }
  }
}